{% extends 'base.html' %}
{% block signup %}

<div class="px-16 py-8 flex flex-col gap-6 items-center justify-center">
    <h3 class="text-3xl uppercase text-center">Create an Account</h3>
    <form action="register" method="post" class="flex flex-col w-8/12 gap-6">
        {% csrf_token %}
        <input required type="text" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Firstname" name="firstname">
        <input required type="text" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Lastname" name="lastname">
        <input required type="text" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Username" name="username">
        <input required type="text" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Email" name="email">
        <input required type="password" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Password" name="password">
        <input required type="password" class="px-4 py-4 border rounded w-6/8" placeholder="Enter your Confirm Password" name="confirmpassword">
        <button class="px-4 py-4 bg-black text-white w-6/8 rounded hover:shadow-2xl">Sign Up</button>
        {% if messages %}
        {% for message in messages %}
        <label>{{message}}</label>
        {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock %}